$enable-reduced-motion: false;
$modal-content-bg: #212529;
$modal-content-color: white;
$modal-header-border-color: #2c8a48;
$pagination-padding-x-sm: 0.3rem;
@mixin mq($str) {
  @media (max-width: $str) {
    @content;
  }
}

@import '~bootstrap/scss/bootstrap';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo {
  font-family: 'Pacifico', cursive;
}

.main {
  min-height: calc(100vh - 56px - 70px - 1rem);
  max-width: 1320px;
  margin: 0 auto;
}

.cart {
  cursor: pointer;
  padding: 1rem;
  border: none;
  border-radius: 50px;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 2;
  background: $primary;
  box-shadow: 3px 4px 7px 1px #0000005e;
  &:hover {
    background: $blue-600;
  }
}

.alert {
  position: fixed;
  bottom: 1rem;
  right: 7rem;
  z-index: 3;
  padding: 0;
  margin: 0;
  &Toast {
    height: 62px;
    width: 200px;
  }
}

.card {
  width: 300px;
  margin: 12px;

  &Img {
    height: 298px;
  }
  &Footer {
    user-select: none;
    min-height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  @include mq(420px) {
    width: 185px;
    margin: 5px;
    &Body {
      height: 100%;
      font-size: 12px;
    }
    &Title {
      font-size: 14px;
    }
    &Footer {
      min-height: 50px;
      padding: 5px;
      font-size: 13px;
    }
    &Img {
      height: 183px;
    }
  }
  @include mq(389px) {
    width: 170px;
    &Body {
      height: 100%;
      font-size: 12px;
    }
    &Title {
      font-size: 14px;
    }
    &Footer {
      min-height: 50px;
      padding: 5px;
      font-size: 13px;
    }
    &Img {
      height: 168px;
    }
  }
}

.price {
  color: $white;
  font-weight: bold;
  font-size: 25px;
}

.itemBasket {
  padding: 8px 5px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #212529;
  font-weight: bold;
  user-select: none;
  &Number {
    color: #bd1111;
  }
}

.emptyBasket {
  display: flex;
  justify-content: center;
}

.textCart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.plus {
  cursor: pointer;
  margin: 0;
  padding: 0;
  font-size: 14px;
  &Minus {
    cursor: pointer;
    margin: 0;
    padding: 0;
    font-size: 14px;
  }
}

.pagi {
  padding: 0.5rem 0.3rem;
}

.quantity {
  display: inline-block;
  background: white;
  color: black;
  width: 30px;
  text-align: center;
  font-weight: bold;
  border: 1px solid black;
  margin: 0;
}
